<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>TEST</title>
    <link rel="stylesheet" href="/node_modules/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/node_modules/angular-material-icons/angular-material-icons.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
    <link rel="stylesheet" href="styles.css">
</head>
<body ng-cloak layout="column" ng-controller="TestController">


    <!-- Тулбар -->
    <md-toolbar layout="row" class="md-toolbar-tools">
        <md-button class="menu md-icon-button" hide-gt-md="true" ng-click="open()">
            <ng-md-icon icon="menu"></ng-md-icon>
        </md-button>

        <h1><b>Технологические нарушения</b></h1>
    </md-toolbar>

    <!-- Боковая панель -->
    <!--<md-sidenav class="md-sidenav-left" md-is-open="true" md-disable-backdrop="false" md-component-id="left" md-whiteframe="4"></md-sidenav>-->

    <!-- Контент -->
    <div layout="column" flex="flex" layout-gt-md="row">





        <md-content flex layout="row">
            <md-sidenav md-component-id="left" class="md-sidenav-left sidebar" md-swipe-left="close()">
                <div class="sidebar-user" flex="none">
                    Петров Иван
                </div>
            </md-sidenav>


            <!-- Блок структурных подразделений -->
            <div id="divisions-column" flex="initial" hide="true" hide-gt-md="false" show-gt-md="true" layout="column">
               <div class="block" md-whiteframe="1">
                    <div class="block-title md-subhead" layout-align="start center">Структурные подразделения</div>
                   <md-divider></md-divider>
                   <div class="block-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolores eveniet facere in inventore rerum suscipit voluptates. Architecto excepturi expedita facere, harum inventore iure maxime modi nulla numquam repellendus, veniam.</div>
               </div>
            </div>

            <!-- Блок нарушений -->
            <div id="violations-column" flex layout="column">

                <div class="block" md-whiteframe="1">
                    <div class="block-title md-subhead">
                        <div flex="85">Нарушения</div>
                        <div flex="15" layout-align="center right">
                            <md-button class="md-fab md-mini" aria-label="Поиск и фильтры" ng-click="showBottomSheet()">
                                <ng-md-icon icon="filter_list"></ng-md-icon>
                                <md-tooltip md-direction="top">
                                    Поиск и фильтры
                                </md-tooltip>
                            </md-button>
                        </div>
                    </div>

                    <md-divider></md-divider>
                    <div>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text" layout="row">
                                <div flex="5">10</div>
                                <div flex="5">+</div>
                                <div flex="15">12.01.2017 в 10:36</div>

                                <!-- Объект ЭСК -->
                                <div flex="35">ВЛ 110 кВ Л-113 после АПВ</div>
                                <div flex="50" hide="true" hide-gt-md="true">ВЛ 110 кВ Л-113 после АПВ tablet</div>

                                <!-- Документы -->
                                <div flex="20">15</div>
                                <div flex="5">15</div>

                                <div flex="20">Кукушечников Евстратий Павлович</div>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                        <md-list>
                            <md-list-item class="md-2-line">
                                <div class="md-list-item-text">
                                    <h3>item.title</h3>
                                    <p>item.description</p>
                                </div>
                            </md-list-item>
                            <md-divider></md-divider>
                        </md-list>
                        <md-list>
                            <md-list-item class="md-2-line">
                                <div class="md-list-item-text">
                                    <h3>item.title</h3>
                                    <p>item.description</p>
                                </div>
                            </md-list-item>
                            <md-divider></md-divider>
                        </md-list>
                    </div>
                </div>
            </div>
        </md-content>
    </div>



    <script src="/node_modules/angular/angular.min.js"></script>
    <script src="/node_modules/angular-route/angular-route.min.js"></script>
    <script src="/node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="/node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="/node_modules/angular-material/angular-material.min.js"></script>
    <script src="/node_modules/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="/modules/application.module.js"></script>
</body>
</html>