.sidebar {
  background: #00695C;
}
.sidebar-user {
  height: 150px;
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
  line-height: 150px;
  color: white;
  background: #004D40;
}
#divisions-column {
  width: 420px;
  min-width: 420px;
  padding: 5px;
  padding-top: 10px;
}
#violations-column {
  padding: 5px;
  padding-top: 10px;
}
#violations-column.cellphone {
  padding: 0px;
}
.block {
  background: white;
}
.block .block-title {
  padding: 20px;
  color: #006064;
}
.violations-list {
  padding-top: 0px;
  padding-bottom: 0px;
}
.violations-list .md-2-line {
  padding-left: 0px;
  padding-right: 0px;
}
.violations-list .md-list-item {
  padding-left: 0px;
  padding-right: 0px;
}
.violation-confirmation {
  width: 24px;
  height: 24px;
  color: green;
}
.violation-confirmation.small {
  width: 12px;
  height: 12px;
}
.new-document-notification {
  color: seagreen !important;
}
.violations-container.cellphone {
  padding: 0px;
}
.violations-container.cellphone .violation {
  min-height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.violations-container.tablet .violation-attachments {
  padding-right: 10px;
}
.violation {
  max-height: 50px;
  padding: 5px;
  background: white;
  border-bottom: 1px solid lightgrey;
}
.violation-number {
  padding-right: 10px;
}
.violation-number .confirmed-icon {
  color: #2E7D32 !important;
}
.violation-is-confirmed {
  padding-right: 10px;
}
.violation-is-confirmed .confirmed-icon {
  color: #2E7D32 !important;
}
.violation-date {
  padding-right: 10px;
}
.violation-date .time {
  vertical-align: bottom;
  font-size: 15px;
  color: gray;
}
.violation-esk-object {
  padding-right: 10px;
  text-wrap: none;
  max-height: 40px;
  vertical-align: top;
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  margin: 0 auto;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.violation-attachments .attachments-icon md-icon {
  color: #00695C !important;
}
.violation-attachments .new-attachments {
  color: #2E7D32 !important;
}
