.sidebar {
  background: #00695C;
}
.sidebar-user {
  height: 150px;
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
  line-height: 150px;
  color: white;
  background: #004D40;
}
#divisions-column {
  width: 420px;
  min-width: 420px;
  padding: 5px;
}
#violations-column {
  margin: 5px;
  box-sizing: border-box;
}
.block {
  background: white;
}
.block .block-title {
  color: #006064;
}
.violations-list {
  padding-top: 0px;
  padding-bottom: 0px;
}
.violations-list .md-2-line {
  padding-left: 0px;
  padding-right: 0px;
}
.violations-list .md-list-item {
  padding-left: 0px;
  padding-right: 0px;
}
.violation-item .violation-esk-object {
  text-wrap: none;
  max-height: 40px;
  vertical-align: top;
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  margin: 0 auto;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.violation-confirmation {
  width: 24px;
  height: 24px;
  color: green;
}
.violation-confirmation.small {
  width: 12px;
  height: 12px;
}
.attachment-icon {
  width: 8px !important;
  margin-right: 0px;
  margin-left: 0px;
}
.new-document-notification {
  color: seagreen !important;
}
.violation {
  min-height: 50px;
}
